{% extends "homepage.html" %}

{% block title %}Perfil{% endblock %}

{% block body %}
    {% include "navbar.html" %}
    <div class="container">
        <h1 class="text-center mb-4">{{ user.username }}</h1>

        {% if form %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Enviar nova foto</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.photo.label }}
                        {{ form.photo(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        {% endif %}

        <h2>Minhas fotos</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for photo in user.photos %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='posts_photos/' ~ photo.filename) }}" class="card-img-top" alt="Imagem">
                    {% if current_user.id == user.id %}
                        <div class="card-body">
                            <a href="{{ url_for('delete', photo_id=photo.id) }}" class="btn btn-danger btn-sm">Deletar</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
